<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    {% include head-custom.html %}
        {% if site.data.socials %}
          <div id="socials">
            {% assign social = site.data.socials %}
            {% for entry in social %}
                {% assign key = entry | first %}
                {% if social[key].id %}
                    <a href="{{ social[key].href }}{{ social[key].id }}" title="{{ social[key].title }}"><span style="color: Mediumslateblue;"><i class="fab {{ social[key].fa-icon }}"></i></span></a>
                {% endif %}
            {% endfor %}
          </div>
        {% endif %}
     <div class="wrapper">
      <section>
        {{ content }}
      </section>
    </div>
    <div class="images">
      <p> Example Deed #1337: </p>
      <a href="https://opensea.io/assets/0x09151ae179692894c931276d546ca5a2f1907326/1337" target="_blank"><img src="https://storage.opensea.io/files/73cea5a0b713b491645e089067c1383f.svg" alt=""></a>
    </div>
  </body>
</html>
